@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-UltraCondensedRegular.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExpandedExtraLight';
    src: url('Inconsolata-ExpandedExtraLight.woff2') format('woff2'),
        url('Inconsolata-ExpandedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExpandedMedium';
    src: url('Inconsolata-ExpandedMedium.woff2') format('woff2'),
        url('Inconsolata-ExpandedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExpandedExtraBold';
    src: url('Inconsolata-ExpandedExtraBold.woff2') format('woff2'),
        url('Inconsolata-ExpandedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiCondensedSemiBold';
    src: url('Inconsolata-SemiCondensedSemiBold.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedLight';
    src: url('Inconsolata-UltraExpandedLight.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiCondensedLight';
    src: url('Inconsolata-SemiCondensedLight.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiCondensedExtraBold';
    src: url('Inconsolata-SemiCondensedExtraBold.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-UltraCondensedBold.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata CondensedLight';
    src: url('Inconsolata-CondensedLight.woff2') format('woff2'),
        url('Inconsolata-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedExtraBold';
    src: url('Inconsolata-UltraExpandedExtraBold.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraExpandedRegular.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExpandedRegular.woff2') format('woff2'),
        url('Inconsolata-ExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraCondensedExtraLight';
    src: url('Inconsolata-UltraCondensedExtraLight.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Medium.woff2') format('woff2'),
        url('Inconsolata-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiExpandedLight';
    src: url('Inconsolata-SemiExpandedLight.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraCondensedExtraLight';
    src: url('Inconsolata-ExtraCondensedExtraLight.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiCondensedMedium';
    src: url('Inconsolata-SemiCondensedMedium.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiCondensedBlack';
    src: url('Inconsolata-SemiCondensedBlack.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiCondensedExtraLight';
    src: url('Inconsolata-SemiCondensedExtraLight.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraCondensedBold.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiExpandedExtraBold';
    src: url('Inconsolata-SemiExpandedExtraBold.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraExpandedSemiBold';
    src: url('Inconsolata-ExtraExpandedSemiBold.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraExpandedExtraBold';
    src: url('Inconsolata-ExtraExpandedExtraBold.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-SemiCondensedBold.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-UltraExpandedBold.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExpandedBold.woff2') format('woff2'),
        url('Inconsolata-ExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraCondensedMedium';
    src: url('Inconsolata-UltraCondensedMedium.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraLight.woff2') format('woff2'),
        url('Inconsolata-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-SemiExpandedRegular.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata CondensedBlack';
    src: url('Inconsolata-CondensedBlack.woff2') format('woff2'),
        url('Inconsolata-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraCondensedExtraBold';
    src: url('Inconsolata-UltraCondensedExtraBold.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedExtraLight';
    src: url('Inconsolata-UltraExpandedExtraLight.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraCondensedSemiBold';
    src: url('Inconsolata-ExtraCondensedSemiBold.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedBlack';
    src: url('Inconsolata-UltraExpandedBlack.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraExpandedBold.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExpandedLight';
    src: url('Inconsolata-ExpandedLight.woff2') format('woff2'),
        url('Inconsolata-ExpandedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedSemiBold';
    src: url('Inconsolata-UltraExpandedSemiBold.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraCondensedLight';
    src: url('Inconsolata-UltraCondensedLight.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata CondensedSemiBold';
    src: url('Inconsolata-CondensedSemiBold.woff2') format('woff2'),
        url('Inconsolata-CondensedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-SemiCondensedRegular.woff2') format('woff2'),
        url('Inconsolata-SemiCondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiExpandedMedium';
    src: url('Inconsolata-SemiExpandedMedium.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata CondensedMedium';
    src: url('Inconsolata-CondensedMedium.woff2') format('woff2'),
        url('Inconsolata-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraCondensedLight';
    src: url('Inconsolata-ExtraCondensedLight.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraExpandedExtraLight';
    src: url('Inconsolata-ExtraExpandedExtraLight.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraExpandedLight';
    src: url('Inconsolata-ExtraExpandedLight.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExpandedSemiBold';
    src: url('Inconsolata-ExpandedSemiBold.woff2') format('woff2'),
        url('Inconsolata-ExpandedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraExpandedMedium';
    src: url('Inconsolata-UltraExpandedMedium.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiExpandedExtraLight';
    src: url('Inconsolata-SemiExpandedExtraLight.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Black.woff2') format('woff2'),
        url('Inconsolata-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiExpandedBlack';
    src: url('Inconsolata-SemiExpandedBlack.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraCondensedSemiBold';
    src: url('Inconsolata-UltraCondensedSemiBold.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata SemiExpandedSemiBold';
    src: url('Inconsolata-SemiExpandedSemiBold.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Bold.woff2') format('woff2'),
        url('Inconsolata-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-SemiBold.woff2') format('woff2'),
        url('Inconsolata-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata CondensedExtraBold';
    src: url('Inconsolata-CondensedExtraBold.woff2') format('woff2'),
        url('Inconsolata-CondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraCondensedRegular.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Regular.woff2') format('woff2'),
        url('Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraCondensedMedium';
    src: url('Inconsolata-ExtraCondensedMedium.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Light.woff2') format('woff2'),
        url('Inconsolata-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-CondensedRegular.woff2') format('woff2'),
        url('Inconsolata-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata CondensedExtraLight';
    src: url('Inconsolata-CondensedExtraLight.woff2') format('woff2'),
        url('Inconsolata-CondensedExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata UltraCondensedBlack';
    src: url('Inconsolata-UltraCondensedBlack.woff2') format('woff2'),
        url('Inconsolata-UltraCondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExpandedBlack';
    src: url('Inconsolata-ExpandedBlack.woff2') format('woff2'),
        url('Inconsolata-ExpandedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-CondensedBold.woff2') format('woff2'),
        url('Inconsolata-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraCondensedExtraBold';
    src: url('Inconsolata-ExtraCondensedExtraBold.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraBold.woff2') format('woff2'),
        url('Inconsolata-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-UltraExpandedRegular.woff2') format('woff2'),
        url('Inconsolata-UltraExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraExpandedMedium';
    src: url('Inconsolata-ExtraExpandedMedium.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraExpandedBlack';
    src: url('Inconsolata-ExtraExpandedBlack.woff2') format('woff2'),
        url('Inconsolata-ExtraExpandedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-SemiExpandedBold.woff2') format('woff2'),
        url('Inconsolata-SemiExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata ExtraCondensedBlack';
    src: url('Inconsolata-ExtraCondensedBlack.woff2') format('woff2'),
        url('Inconsolata-ExtraCondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

